<% provide(:title, 'New Insurance Provider') %>
<% provide(:button_text, 'Save') %>
<h1>New Insurance Provider </h1>

<div class="row justify-content-md-center">
	<div class="col-md-10 col-md-offset-3">

	<%= render 'form' %>

	</div>
</div>
