<%= form_for (@invoice) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <% doc_id = @invoice.doctor_id || (current_doctor.id if current_doctor) %>

  <!-- < % = f.hidden_field :patient_id, value: @patient.id % >-->

	
<!-- Row 1 -->
<div class="row">
  <div class="col-sm-4 col-md-6 col-md-offset-2">
  <%= f.label "Doctor/Clinic" %>
  <%= f.collection_select(:doctor_id, get_active_doctors, :id, :lname, selected: doc_id, include_blank: 'Clinic') %>
  </div>
  <div class="col-sm-2">
  <%= f.label :'Amount' %>
  <%= f.number_field :amount %>
  </div>
</div>

<!-- Row 2 -->
<div class="row">
  <div id="ins_provider" class="col-sm-8 col-md-offset-2 col-sm-offset-2">
  <%= f.label "Insurance Provider" %>
  <%=  f.collection_select(:billto, Provider.all, :id, :name, prompt: 'Select Insurance Provider')  %>
  </div>
</div>

<!-- Row 3 -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
  <%= f.label 'Description' %>
  <%= f.text_field :notes %>
  </div>
</div>

<!-- Row 4 -->
<% if action_name == 'edit' %>
<div class="row">
  <div class="col-sm-1 col-sm-offset-2">	
  <%= f.label :paid? %>
  </div>
  <div class="col-sm-1">
  <%= f.check_box :paid, value: 'false'  %> 
  </div>
</div>
<% end %>

  <div class="spacer-20"></div>

<!-- Row 5 -->
<div class="row">
  <div class="col-sm-10 col-md-8 col-sm-offset-2">
<% if action_name == 'edit' %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% else %>  
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
  </div>
</div>

<% end %>




