<% provide(:title, 'All invoices') %>
<%= render 'shared/modal' %>

<table class="tbl table-hover" >
  <thead>
      <tr>
	  <th><%= sortable 'id', 'Invoice' %> </th>
	  <th class="tbl_md"><%= sortable 'patient_id', 'Patient' %></th>
	  <th class="tbl_md"><%= sortable 'doctor_id', 'Doctor' %></th>
	  <th class="tbl_lg"><%= sortable 'billto', 'Bill To' %></th>
	  <th> <%= sortable 'date' %></th>
	  <th> <%= sortable 'amount' %></th>
	  <th class="tbl_md">Description</th>
	  <th class="tbl_lsm">Paid?</th>
	  <th></th>
	  <% if current_user.admin? %>
	  <th></th>
	  <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @invoices, remote: device_is_desktop? %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @invoices, class: "btn" %>
<!-- < % = button_to "New Invoice", new_invoice_path, class: "btn btn-primary col-md-12 ", method: 'get'  % > -->

</div>
