<% provide(:title, 'All diagnoses') %>

<table class="tbl table-hover"> <!-- pretty -->
  <thead>
      <tr>
	  <th><%= sortable 'code'  %></th>
	  <th><%= sortable 'descr', :Description %></th>
	  <th><%= sortable 'Active' %></th>
              <th> </th>
      </tr>
  </thead>
  <tbody>

  <%= render @diagnoses %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @diagnoses, class: "btn" %>
<% if current_user.admin?  %>
<%= button_to "Add Diagnostic Code", new_diagnosis_path, class: "btn btn-primary", :method => "get" %>
<% end %>
</div>

