<%= form_for [@patient, @visit],  :html => {:multipart => true} do |f| %> 
  <%= render 'shared/error_messages', object: f.object %>

<% 
   doc_id = @visit.doctor.id || (current_doctor.id if current_doctor) 
   @procedures = get_active_procedures 
   @insured = [HCP_PATIENT,RMB_PATIENT,WCB_PATIENT].include?(@patient.pat_type) 

  if current_user.admin? 
     disabled = []
  elsif @visit.status == ERROR 
     disabled = ( READY..CANCELLED ).to_a
  elsif @visit.billing_ref.present?
     disabled = [ARRIVED,READY,CANCELLED]
  elsif @visit.hcp_proc_codes.present? 
    if @insured
       disabled = [BILLED,PAID]
    else
       disabled = [READY]
    end
  elsif @visit.proc_codes.empty?
     disabled = [READY,BILLED,PAID] 
  elsif @visit.cash?
     disabled = [READY,BILLED]
  else 
     disabled = []
  end 
%>

  <!-- Row 0 if new visit or admin --> 

     <div class="row">
     <% if action_name == 'new' %>
	<div class="col-sm-4">
	   <%= f.label "Visit Date/time" %>
	   <%= f.datetime_field :entry_ts, datetime_separator: ' at ' %>
  	</div>
     <% elsif current_user.admin? && action_name == 'edit' %>
   	<div class="col-sm-6">
  	  <%= f.label "Billing Reference" %>
 	  <%= f.text_field :billing_ref %>
  	</div>
    <% end %>
    </div>

  <!-- Row 1 --> 

<div class="row">
  <div class="col-sm-4">
  <%= f.label "Doctor" %>
  <%= f.collection_select(:doc_id, get_active_doctors, :id, :lname, prompt: 'Select', selected: doc_id) %>
  </div>

  <div class="col-sm-2">
  <%= f.label "Service" %>
  <%= f.collection_select :proc_code, @procedures, :code, :code, prompt: 'Select', include_blank: 'None' %> <!--#, selected: @visit.proc_code || 'A007A'  -->
  <!--  f.hidden_field(:fee, id: :fee) -->
  </div>

  <div class="col-sm-2">
  <%= f.label "Service" %>
  <%= f.collection_select :proc_code2, @procedures, :code, :code, prompt: 'Select', include_blank: 'None'  %>
  </div>

  <div class="col-sm-2">
  <%= f.label "Service" %>
  <%= f.collection_select :proc_code3, @procedures, :code, :code, prompt: 'Select', include_blank: 'None'  %>
  </div>

  <div class="col-sm-2">
  <%= f.label "Service" %>
  <%= f.collection_select :proc_code4, @procedures, :code, :code, prompt: 'Select', include_blank: 'None'  %>
  </div>
</div

  <!-- Row 2 -->

<div class="row">
  <div class="col-sm-4">
  <%= f.label "Diagnosis" %>
  <%=  f.collection_select :diag_code, get_active_diagnoses, :code, :descr_with_code, prompt: 'Select' %> <!--  #, selected: @visit.diag_code || '460.000' -->
  </div>

  <div class="col-sm-2">
  <%= f.label :units %>
  <%= f.select :units, UNITS, prompt:  'Select' %>
  </div>

  <div class="col-sm-2">
  <%= f.label :units %>
  <%= f.select :units2, UNITS, prompt: 'Select' %>
  </div>

  <div class="col-sm-2">
  <%= f.label :units %>
  <%= f.select :units3, UNITS, prompt: 'Select' %>
  </div>

  <div class="col-sm-2">
  <%= f.label :units %>
  <%= f.select :units4, UNITS, prompt: 'Select' %>
  </div>
</div>

  <!-- Row 3 -->

<div class="row">
  <div class="col-sm-2">
  <%= f.label "Duration" %>
  <%= f.select :duration, DURATIONS, default: 10  %>
  </div>
  <div class="col-sm-2 ">
  <%= f.label "Visit Type" %>
  <%= f.select :vis_type, VISIT_TYPES, placeholder: 'Visit type', default: 'WS' %>
  </div>
  
  <div class="col-sm-2">
  <%= f.label "Bill Type" %>
  <div id="my_bil_type"> <%= @visit.bil_type_str %></div>
  <%= f.hidden_field :bil_type %>
  </div>

  <div class="col-sm-2">
  <%= f.label "Bill Type" %>
  <div id="my_bil_type2"> <%= @visit.bil_type2_str %></div>
  <%= f.hidden_field :bil_type2  %>
  </div>

  <div class="col-sm-2">
  <%= f.label "Bill Type" %>
  <div id="my_bil_type3"> <%= @visit.bil_type3_str %></div>
  <%= f.hidden_field :bil_type3  %>
  </div>

  <div class="col-sm-2">
  <%= f.label "Bill Type" %>
  <div id="my_bil_type4"> <%= @visit.bil_type4_str %></div>
  <%= f.hidden_field :bil_type4  %>
  </div>
</div>

  <!-- Row 4 -->

<div class="row">
  <div class="col-sm-4" id="visit_statuses">
  <%= f.label "Visit Status" %>
  <%= f.select :status, VISIT_STATUSES, placeholder: 'Status', disabled: disabled %>
  </div>

  <div class="col-sm-2">
  <%= f.label :Temperature %>
  <%= f.text_field :temp %>
  </div>
  <div class="col-sm-2">
  <%= f.label 'Heart Rate' %>
  <%= f.text_field :pulse %>
  </div>
  <div class="col-sm-2">
  <%= f.label "BP (H/L)" %>
  <%= f.text_field :bp %>
  </div>
  <div class="col-sm-2">
  <%= f.label "Weight" %>
  <%= f.text_field :weight %>
  </div>
</div>

  <!-- Row 5: Reason for visit  -->

<div class="row">
  <div class="col-sm-12">
  <%= f.label "Reason for visit" %>
  <%= f.text_area :reason, rows: 2, placeholder: 'Reason for visit' %>
  </div>
</div>

<!-- Row 6: upload docs -->
<div class="row">
  <div class="col-sm-12"> 
    <%= f.label :'PDF documents' %>
      <% @visit.documents.each do |d| %>
      <% next unless d.document.file.present? %>
      <%= link_to d.document.file.filename, d.document.url.to_s %>
      <% end %>
    <%= f.file_field :document %>
  </div>
</div>

<!-- Row 7: Notes, submit button -->
<div class="row">
  <div class="col-sm-12"> 
  <%= f.text_area :notes, rows:4, placeholder: 'Notes' %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <p>
  </div>
</div>

</div>
<% end %>

<script>
$(document).ready(function() {
//    $.fn.select2.defaults.set( "theme", "classic" );
    $( "#visit_diag_code" ).select2();
    $('#visit_proc_code').select2();
    $('#visit_proc_code2').select2();
    $('#visit_proc_code3').select2();
    $('#visit_proc_code4').select2();

    var proccode = $('#new_visit select[name="visit[proc_code]"]');

    (proccode.val() =='') ? $('#visit_statuses').hide() : $('#visit_statuses').show();
    proccode.change(function () {
      (proccode.val() =='') ? $('#visit_statuses').hide() : $('#visit_statuses').show();
    });

});

// Select proper bill type for the procedure
var pc = document.getElementById("visit_proc_code");
$(pc).change(function () {
  if ($(this).val()) {
    get_bil_type( $(this).val() , '');
  } else {
    var bt = document.getElementById('visit_bil_type');
    $(bt).val(null);
    var v = document.getElementById('my_bil_type');
    v.innerHTML = '';
  }
});

var pc2 = document.getElementById("visit_proc_code2");
$(pc2).change(function () {
  if ($(this).val()) {
     get_bil_type( $(this).val() , '2' );
  } else {
    var bt2 = document.getElementById('visit_bil_type2');
    $(bt2).val(null);
    var v2 = document.getElementById('my_bil_type2');	  
    v2.innerHTML = '';
  }
});

var pc3 = document.getElementById("visit_proc_code3");
$(pc3).change(function () {
  if ($(this).val()) {
     get_bil_type( $(this).val() , '3' );
  } else {
    var bt3 = document.getElementById('visit_bil_type3');
    $(bt3).val(null);
    var v3 = document.getElementById('my_bil_type3');	  
    v3.innerHTML = '';
  }
});

var pc4 = document.getElementById("visit_proc_code4");
$(pc4).change(function () {
  if ($(this).val()) {
    get_bil_type( $(this).val() , '4' );
  } else {
    var bt4 = document.getElementById('visit_bil_type4');
    $(bt4).val(null);
    var v4 = document.getElementById('my_bil_type4');	  
    v4.innerHTML = '';
  }
});

function get_bil_type ( code, suff ) {
	var request = "/procedures/get_by_code?code=" + code;
	var aj = $.ajax({
        url: request,
        type: 'get',
        data: $(this).serialize()
    }).done(function (data) {
	select_statuses(data, suff);
        set_btype(data, suff);
    }).fail(function (data) {
        console.log('AJAX request has FAILED');
    });
}

function set_btype( proc, suff ) {
  var v = document.getElementById('visit_bil_type'+suff);
  var v2 = document.getElementById('my_bil_type'+suff);
  if ( proc.ptype == '1') {
	var btype = <%= BILLING_TYPES[@visit.pat_btype] %>; 	
        $(v).val(btype);
	var btype_str = <%= @visit.pat_btype.to_s.inspect.html_safe %> || 'HCP';
	v2.innerHTML = btype_str;
  } else if ( proc.ptype == '2') {
	$(v).val('4');
	v2.innerHTML = 'CSH';
  } else {
        $(v).val(null);
	v2.innerHTML = '';
  }
}

function select_statuses( proc, suff ) {
  var v = document.getElementById('visit_statuses').getElementsByTagName("option");
  var insured = <%= @insured %>;
  if (proc.ptype == '2' && suff.length === 0  || !insured) {
        v[1].disabled = true;  // READY
        v[2].disabled = false;
        v[3].disabled = false;
     }else{
        v[1].disabled = false;
        v[2].disabled = true;
        v[3].disabled = true;
     }
}

</script>
