<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<b class="modal-title" id="myModalLabel"><%= @patient.full_name %>  - Visit Form</b>
</div>
<div class="modal-body">
  <embed src="/uploads/visitform.pdf" frameborder="0" width="100%" height="600px">
</div>
<div class="modal-footer">
  <button class="btn btn-primary" class="close" data-dismiss="modal">Dismiss</button>
</div>


