<% 
   provide(:title, 'Edit Visit') 
   provide(:button_text, 'Save changes') 
   @patient = Patient.find(@visit.patient_id)
   @doctor = Doctor.find(@visit.doc_id)
%>

<h1><%= @patient.full_name %> <%= @visit.entry_ts.strftime("%D %H:%M") %> : Update Visit Details</h1>

  <div class="form-group col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3">

    	<%= render 'form' %>

  </div>
