<% provide(:title, 'New Visit') %>
<% provide(:button_text, 'Save') %>
<h1>New Visit - <%= @patient.full_name %></h1>


  <div class="row"> 
  <div class="form-group col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3">
    <%= render 'form' %>
  </div>
  </div>
