<%   
  @patient = Patient.find(@visit.patient_id) 
  @doctor = Doctor.find(@visit.doc_id)
  provide(:title, "#{@patient.full_name} : #{@visit.entry_ts}") 
%>
<%= render "shared/modal", size: 'lg' %>

<h1> <%= @patient.full_name %> : Visit of <%= time_tag(@visit.entry_ts) %>  </h1>

<% diag = Diagnosis.find_by(code: @visit.diag_code) %>
<% codes = [@visit.proc_code, @visit.proc_code2, @visit.proc_code3, @visit.proc_code4] %>

<div class="form-group col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
<div class="row">
	
<section>
<pre class="pre-scrollable-large">
<b>Doctor</b> :    <%= @visit.doctor.lname %>
<b>Reason for Visit </b>: <%= @visit.reason %>
<b>Diagnosis</b> : <%= @visit.diag_code %> : <%= diag.descr rescue '' %>
<b>Procedure(s)</b> : <%=  @visit.proc_codes %>
<b>Billing Type(s) </b>: <%= @visit.bil_type_str %>, <%= @visit.bil_type2_str %>, <%= @visit.bil_type3_str %>, <%= @visit.bil_type4_str %>
<b>Units </b>: <%= @visit.all_units.join',' %>
<b>Billed amount: <%= sprintf '$%.2f',@visit.total_fee %> Insured services: </b><%= sprintf '$%.2f',@visit.total_insured_fees %> <b>Other services:</b> <%= sprintf '$%.2f',@visit.total_non_insured_fees %>
<b>Vital signs</b>: T: <%= @visit.temp %> P: <%= @visit.pulse %> BP: <%= @visit.bp %>
<b>Duration </b>: <%= @visit.duration %> minutes
<b>Status </b>: <%= @visit.status_str %> 
<b>Entry by </b>: <%= @visit.entry_by %>
<b>Entered at </b>: <%= @visit.entry_ts %>
<% if @visit.billing_ref.present? %>
<b>Billing Ref# </b>: <%= @visit.billing_ref %>
<% end %>
<% if @visit.export_file.present? %>
<b>Export file</b>: <%= @visit.export_file %>
<% end %>
<% if @visit.amount.present? %>
<b>Amount Paid </b>: <%= sprintf '$%.2f', @visit.amount %>
<% end %>
<% if @visit.documents.present? %>
<b>Documents</b>: 
<% @visit.documents.each do |d| %>
   <% next unless d.document.file.present? %>
   <%= link_to d.document.file.filename, d.document.url.to_s %>
<% end %>
<% end %>

</pre>

<% if @visit.notes.present? %>
<div class="panel panel-info">
   <div class="visit-notes-panel-body">
<b>Notes </b>: <%= @visit.notes.html_safe %>	     
   </div>
</div>
<% end %>

</section>
</div>

<p>
<% remote = device_is_desktop? %>

<div class="row">
 <% if @visit.status < BILLED || current_user.admin? %>
 <div class="col-sm-3 col-md-2">
  <%= button_to "Edit Visit", edit_patient_visit_path(@patient), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window', class: "btn btn-primary clickable", method: "get" %>
 </div>
 <% end %>

<div class="col-sm-3 col-md-2">
<%= button_to "Visit Form", visitform_patient_visit_path(@patient), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window',  class:"btn btn-primary clickable", method: 'get'  %>
</div>

<div class="col-sm-3 col-md-2">
<%= button_to "Referral Form", referralform_patient_visit_path(@patient), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window',class: "btn btn-primary clickable", method: 'get' %>
</div>

 <% if @visit.cash? %> 
 <div class="col-sm-3 col-md-2">
 <%= button_to "Receipt", receipt_patient_visit_path(@patient), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window', class: "btn btn-primary clickable", method: 'get' %>
 </div>
 <% end %>
 
 <% if @visit.ready_to_bill? %>
 <div class="col-sm-3 col-md-2">
 <%= button_to "Send to Cab.md", sendclaim_patient_visit_path(@patient), class: "btn btn-primary", method: 'get'  %>
 </div>
 <% end %>

 <div class="col-sm-3 col-md-2">
 <%= button_to "Back To Patient", patient_path(@patient), class: "btn btn-primary", method: 'get'  %>
 </div>

</div>
</div>


