<% provide(:title, 'All Pay Stubs') %>
<%= render 'shared/modal' %>

<table class="tbl table-hover">  <!--table table-hover table-condensed" >  -->
  <thead>
      <tr>
          <th class="tbl_sm">#</th>
          <th>Doctor</th>
          <th>Mon/Yr</th>
	  <th>Download</th>
	  <th class="tbl_lsm">#Claims</th>
	  <th class="tbl_lsm">#Services</th>
          <th>Total Gross</th>
          <th>Total Net</th>
          <th>RA File</th>
	   <% if current_user.admin?  %>
          <th></th>
	  <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @paystubs %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @paystubs, class: "btn" %> 
<% if @can_generate_new_paystubs %>
<%= button_to "Create New Paystub", new_paystub_path, class: "btn btn-primary col-md-12 ", method: 'get'  %>
<% end %>
</div>
