 <tr>
  <td><%= link_to user.name, user %></td>
  <td><%= link_to user.email, user %></td>
  <td><%= user.created_at.to_s %></td>
  <td><%= user.admin %></td>

  <% if current_user.admin? %>
	  <td> <%= link_to "Edit", edit_user_path(user)  %> </td>
     <% if !current_user?(user) %>
	  <td><%= link_to "Delete", user, method: :delete, data: { confirm: "You sure?" } %></td>
     <%end %>
  <% end %>
 </tr>
