<% provide(:title, 'Edit Vaccine') %>
<% provide(:button_text, 'Save changes') %>
<h1>Edit Vaccine</h1>

<div class="row justify-content-md-center">
  <div class="col-md-4 col-md-offset-4">

<%= render 'form' %>

  </div>
</div>

