<div id='result'></div>

<% provide(:title, 'All patients') %>
<%= render 'shared/modal' %>

<div id="page">
<table class="tbl table-hover"> <!--class="table table-hover table-condensed" > -->
  <thead>
      <tr>
          <th class="tbl_lmd">Name</th>
          <th class="tbl_sm">Gen</th>
          <th class="tbl_sm">Age</th>
	  <th class="tbl_sm">Type</th> 
	  <th class="tbl_md">Last Visit </th>
	  <th class="tbl_sm">Visits</th>
          <th>HC/IFH #</th>
	  <th>Expiry</th> 
	  <th>DOB</th> 
          <th>Phone</th>
 	  <th class="tbl_sm">Lbl</th>
          <th class="tbl_sm"></th>
	  <%=  "<th></th>".html_safe if current_user.admin? %>
      </tr>
  </thead>
  <tbody>

  <%= render @patients %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @patients, class: "btn" %> 
<%= button_to "New Patient", new_patient_path, class: "btn btn-primary col-md-12 ", method: 'get'  %>
</div>
</div>
