<% provide(:title, @patient.full_name) %>
<%= render "shared/modal", size:'lg' %>

	<h1><%= @patient.full_name %> :  Patient profile </h1>

<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
	   <pre class="pre-scrollable" >
	<b>Name:</b> <%= @patient.full_name %> <b>Type:</b> <%= PATIENT_TYPES.invert[@patient.pat_type] %>
	<b>DOB:</b> <%= @patient.dob %> : <%= @patient.age_str %>  <%= @patient.sex %>
	<% if @patient.pat_type == IFH_PATIENT %>
	<b>IFH #:</b> <%= @patient.ifh_number %> 
	<% else %>
	<b>Health Card:</b> <%= @patient.ohip_num %> <%= @patient.ohip_ver %> (<%= @patient.hin_prov %>) <b>Expires:</b> <%= @patient.hin_expiry %>
	<% end %>
	<b>Phone:</b> <%= num_to_phone(@patient.phone) %>  <b>Mobile:</b> <%= num_to_phone(@patient.mobile) %> <b>Email:</b> <%= mail_to @patient.email %>
	<b>Address:</b> <%= @patient.addr %>
		    <%= @patient.city %> <%= @patient.prov %> 
		    <%= @patient.postal %>
		    <%= @patient.country %>
        <% if !@patient.chart_file.blank? %>
	<b>Chart File:</b> <%= link_to 'Chart', chart_patient_path(@patient) %>
        <% end %>
	<b>Allergies</b>: <%= @patient.allergies %>
	<b>Medications</b>: <%= @patient.medications  %>
         </pre>
	 
	 <% if @patient.notes.present? %> 
	 <div class="panel panel-info">
	   <div class="patient-notes-panel-body">
		   <% html_str = "<pre class='notes'> #{@patient.notes} </pre>" %>
                   <%= html_str.html_safe %>
	   </div>
	</div>
	<% end %>
    </section>

<div class="row">
  <% remote = device_is_desktop? %>

   <% unless @patient.pat_type == DECEASED_PATIENT %>
  <div id="new_visit" class="col-sm-3">
    <%= button_to "New Visit", new_patient_visit_path(@patient), class:"btn btn-primary", method: 'get' %>
  </div>
  <% end %>

  <div id="edit_pat" class="col-sm-3">
    <%= button_to "Edit Patient", edit_patient_path(@patient), remote: remote, 'data-toggle': "modal", 'data-target': '#modal-window', class:"btn btn-primary", method: 'get' %>
  </div>

  <div id="modLabel" class="col-sm-3">
  <%= button_to "Label", label_patient_path(@patient), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window',  class:"btn btn-primary clickable", method: 'get'  %>
  </div>
  
  <div id="invoice" class="col-sm-3">
    <%= button_to "Invoice", new_patient_invoice_path(@patient), class: "btn btn-primary", method: 'get' %> 
  </div>


</div>

  </aside>

  <div class="col-md-6">
    <h3>Visits: (<%= @patient.visits.count %>)</h3>
    <% if @patient.visits.any? %>
        <table class="tbl">
  	  <thead>
	  <tr>
	    <th class="tbl_xlg">Date</th>
	    <th> </th>
	    <th class="tbl_lg">Doctor</th>
	    <th>Diagnosis</th>
	    <th class="tbl_xlg">Svcs</th>
	    <th>Status</th>
	  </tr>
	  <tbody>

        <%= render @visits, remote: device_is_desktop? %>

          </tbody>
	</table>
	<%= will_paginate @visits %> 
    <% end %>
  </div>
</div>


