<% pat = Patient.find(visit.patient_id) rescue nil %>
<% remote = device_is_desktop? %>
<tr>
	<td>
	<% if visit.ready_to_bill? %>
	   <i class="glyphicon glyphicon-ok-sign text-primary"></i>
	<% elsif visit.billed_or_paid? %>
	   <i class="glyphicon glyphicon-ok-sign text-success"></i>
	<% elsif visit.has_error? %>
	   <i class="glyphicon glyphicon-exclamation-sign text-danger"></i>
	<% else %>
	   <i class="glyphicon glyphicon-question-sign text-warning"></i>
	<% end %>
	</td>
	<% if visit.date == @date %>
            <td><%= link_to visit.entry_ts.strftime("%H:%M"), patient_visit_path(pat,visit) %></td>
         <% else %>
            <td><%= link_to visit.entry_ts.strftime("%d-%b"), patient_visit_path(pat,visit) %></td>
         <% end %>

	<td><%= visit.doctor.lname %></td>
	<td><%= link_to pat.full_name, pat %></td>
	<td><%= pat.pat_type %></td>
	<td>
	<% if pat.pat_type == IFH_PATIENT %>
		<b><%= pat.ifh_number %></b>
        <% else %>
	   <%= pat.ohip_num_full %>
        <% end %>
	</td>
	<td><%= visit.diag_scode %></td>
	<td><%= visit.proc_codes %></td>
	<td><%= visit.all_btypes_str.join',' %></td>
	<td>
	<% if visit.status == PAID && visit.claim_id.present? %>
	  <%= link_to visit.status_str, claim_path(visit.claim_id) %> 		
	<% else %>
	  <%= visit.status_str %>
	<% end %>
	</td>
	  
	 <% remote = device_is_desktop? %>
	
	<!-- #modal-window is defined in index -->	
	<td><%= link_to '<i class="glyphicon glyphicon-credit-card"></i>'.html_safe, label_patient_path(pat), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window',  method: 'get'  %></td>
	<% if @date == Date.today || @date.blank? %>
	  <td><%= link_to '<i class="glyphicon glyphicon-file"></i>'.html_safe, visitform_patient_visit_path(pat,visit), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window', method: 'get'  %></td>
	  <td>
	  <% if remote %>
	    <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_patient_visit_path(pat,visit), remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %>
          <% else %>
	    <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_patient_visit_path(pat,visit) %>
          <% end %>
	  </td>
	<% end %>
	<% if current_user.admin? %>
	    <td><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, patient_visit_path(pat,visit), method: :delete, data: { confirm: "Are you sure you want to delete visit #{visit.id} for patient #{pat.lname}?" } %> </td>
        <% end %>
</tr>
