
<div id='result'></div>

<% date = params[:date].to_date rescue Date.today %>
<% provide(:title, "Day Sheet for " + date.to_s  ) %>
<% provide(:button_text, 'Save changes') %>

<div id='page'>
<table class="tbl table-hover" >
  <thead>
      <tr>
	  <th class="tbl_xs"></th>
	  <th class="tbl_lsm"><%= sortable 'entry_ts', 'Time' %></th>
	  <th class="tbl_md">
	  <% if @docs.present? && @docs.size > 1 %>
          <span class="dropdown" >
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><font color="white"> Doctor <b class="caret"></b></font> </a>
            <ul class="dropdown-menu">
              <li><%= link_to "All", params.permit(:date).merge(date: params[:date]) %></li>
              <% @docs.each do | doc | %>
		<li><%= link_to doc.lname, params.permit(:doc_id,:date).merge(doc_id: doc.id, date: params[:date]) %> </li>
              <% end %>
            </ul>
          </span>
	  <% else %>
		Doctor  
	  <% end %>	
          </th>

	  <th class="tbl_lmd">Patient</th>
          <th class="tbl_sm">Type</th>
          <th class="tbl_md">HC/IFH #</th>
          <th class="tbl_lsm">Diag.</th>
          <th class="tbl_md">Services</th>
          <th class="tbl_sm">B.Typ</th>
          <th class="tbl_lsm">Status</th>
	  <th class="tbl_sm">Lbl</th> 
	  <% if date == Date.today || date.blank? %>
            <th class="tbl_sm">Frm</th>
            <th class="tbl_sm"></th>
	  <% end %>
	  <% if current_user.admin? %>
	    <th class="tbl_sm"></th>  <!-- Delete -->
  	  <% end %>

      </tr>
  </thead>
  <tbody>

<!-- use modal-dialog modal-lg for larger modal -->
  <div id="modal-window" class="modal fade printable autoprint" role="document" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="dialog">
      <div class="modal-content"></div>
    </div>
  </div>
  
<!--  
  <div id="modal-window-lg" class="modal fade printable autoprint" role="document" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="dialog">
      <div class="modal-content"></div>
    </div>
  </div>
-->

  <% @daysheet.each do |v| %>
     <%= render 'visit', visit: v %>
  <% end %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @daysheet, class: "btn" %> 
</div>

</div>
