     <tr>
	<td><%= link_to "#{doctor.full_name}", doctor %> </td>
	<td><%= doctor.ph_type %></td> 
	<td><%= doctor.service %> </td> 
	<td><%= doctor.specialty %></td>
	<td><%= doctor.provider_no %> </td>
	<td><%= doctor.group_no %> </td> 
	<td><%= doctor.bills %> </td> 
	<td><%= doctor.address %> </td> 
	<td><%= doctor.city %> </td> 
	<td><%= doctor.phone %> </td> 

  <% if current_user.admin?  %>
	  <td> <%= link_to "delete", doctor, method: :delete, data: { confirm: "You sure?" } %> </td>
  <% end %>

     </tr>
