<% provide(:title, 'Edit doctor') %>
<% provide(:button_text, 'Save changes') %>

<h1>Update doctor's profile</h1>

<div class="row justify-content-md-center">
  <div class="col-md-10 col-md-offset-1">

<%= render 'form' %>

  </div>
</div>
