<% provide(:title, 'New Doctor') %>
<% provide(:button_text, 'Save') %>
<h1>New Doctor </h1>

<div class="row justify-content-sm-center">
	<div class="col-sm-10 col-sm-offset-1">

	<%= render 'form' %>

	</div>
</div>
