<% provide(:title, @doctor.full_name) %>

	<h1><%= @doctor.full_name %> -  Doctor's profile </h1>

<div class="row justify-content-sm-center">
  <div class="col-sm-6 col-sm-offset-3">
	   <pre>
	      Name: <%= @doctor.full_name %>
	      Billing Number: <%= @doctor.billing_num %> 
	      CPSO Number: <%= @doctor.cpso_num %>
	      License Number: <%= @doctor.licence_no %>
	      Provider Number: <%= @doctor.provider_no %>
	      Group Number: <%= @doctor.group_no %>
	      Service : <%= @doctor.service %>
	      Type: <%= @doctor.ph_type %> 
	      Bills?: <%= @doctor.bills %>
	      Phone: <%= @doctor.phone %>
	      Mobile: <%= @doctor.mobile %>
	      Email: <%= @doctor.email %>
	      Addr: <%= @doctor.address %>
		    <%= @doctor.city %> <%= @doctor.prov %> <%= @doctor.postal %>
	      Office: <%= @doctor.office %>
	      Percent Deduction: <%= @doctor.percent_deduction %>
           </pre>

	    
	    <%= button_to "Edit", edit_doctor_path(@doctor), class: "btn btn-primary", :method => "get" %>
        
  </div>
</div>

