<% patient = Patient.find(visit.patient_id) %>
<% doctor = Doctor.find(visit.doc_id) %>
<% diagnosis = Diagnosis.find_by(code: visit.diag_code) %>
<tr>
	<td>
	<% if visit.ready_to_bill? %>
           <i class="glyphicon glyphicon-ok-sign text-primary"></i>
        <% elsif visit.billed_or_paid? %>
           <i class="glyphicon glyphicon-ok-sign text-success"></i>
        <% elsif visit.has_error? %>
           <i class="glyphicon glyphicon-exclamation-sign text-danger"></i>
        <% else %>
           <i class="glyphicon glyphicon-question-sign text-warning"></i>
        <% end %>	
        </td>

	<% if date.present? %>
            <td><%= link_to visit.entry_ts.strftime("%H:%M"), edit_patient_visit_path(patient,visit) %></td>
         <% else %>
            <td><%= link_to visit.entry_ts, edit_patient_visit_path(patient,visit) %></td>
         <%end %>
	<td><%= doctor.lname %> </td>
	<td><%= link_to patient.full_name, patient %> </td>
	<td><%= patient.pat_type %></td>
	<% if patient.pat_type == IFH_PATIENT %>
	<td><b><%= patient.ifh_number %></b></td>
	<% else %>
	<td><%= patient.ohip_num_full %></td>
	<% end %>	
	<td><%= visit.diag_scode %></td>
	<td><%= visit.proc_codes %></td>
	<td><%= visit.total_insured_services %></td>
	<td><%= sprintf("%.2f",visit.total_fee) %></td>
	<td>
	<% if visit.status == PAID && visit.claim_id.present? %>
	  <%= link_to visit.status_str, claim_path(visit.claim_id) %> 		
	<% else %>
	  <%= visit.status_str %>
  	<% end %>	
	</td>
	<td><%= visit.billing_ref %></td>

</tr>
