<% provide(:title, 'All billing') %>
<% date = params[:date].to_date rescue nil %>

<table class="tbl table-hover"> <!--class="table table-hover table-condensed" > -->
  <thead>
      <tr>
	  <th class="tbl_xs"></th>
	  <% if date  %>
            <th class="tbl_lsm"><%= sortable 'entry_ts', :Time %></th>
          <% else %>
            <th class="tbl_md"><%= sortable 'entry_ts', :Date %></th>
          <%end %>

          <th class="tbl_md">
	  <% if @docs.present? && @docs.size > 1 %>	  
          <span class="dropdown" >
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><font color="white">Doctor<b class="caret"></b></font></a>
            <ul class="dropdown-menu">
              <li><%= link_to "All", params.permit(:date).merge(date: params[:date]) %></li>
	      <% @docs.each do | doc | %>
		<li><%= link_to doc.lname, params.permit(:doc_id,:date).merge(doc_id: doc.id, date: params[:date]) %> </li>
	      <% end %>
	    </ul>
	  </span>
  	  <% else %>
             Doctor
	  <% end %>
	  </th>

	  <th class="tbl_lmd">Patient</th>
	  <th class="tbl_sm">Type</th>
          <th class="tbl_md">HC/IFH #</th>
          <th class="tbl_md">Diagnosis</th>
          <th class="tbl_lmd">Procedure(s)</th>
          <th class="tbl_lsm">HCPSvcs</th>
          <th class="tbl_xmd">Ttl. Fee</th>
          <th class="tbl_md">Status</th>
	  <th class="tbl_md">Acc Ref#</th>
      </tr>
  </thead>
  <tbody>
	  <%= render partial: "visit", collection: @visits, locals: {date: date}  %>
  </tbody>
</table>

<div class="bottom_buttons ">
  <%= will_paginate @visits, class: "btn" %>

  <% if date == Date.today || date.blank? || current_user.admin? %>
    <% if @not_ready.blank? %>
      <% if BILLING_FORMAT == 'EDT' %>
         <%= button_to "Export Claim File (EDT)", billings_export_edt_path, class: "btn btn-primary col-md-12", method: 'post', params: {date: date}  %>
      <% elsif BILLING_FORMAT == 'CSV' %>
	 <%= button_to "Export Claim File (CSV)", billings_export_csv_path, class: "btn btn-primary col-md-12", method: 'post', params: {date: date}  %>
      <% elsif BILLING_FORMAT == 'CABMD' %>
	 <%= button_to "Send claims to Cab.md", billings_export_cabmd_path, class: "btn btn-primary col-md-12", method: 'post', params: {date: date}   %>
      <% end %>
    <% end %>
  <% end %>
</div>

