<%= form_for @procedure do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <!-- Row 1 -->
<div class="row">
  <div class="col-sm-2">
	  <%= f.label :Code %>
          <%= f.text_field :code %>
  </div>
  
  <div class="col-sm-2">
	  <%= f.label :type %>
          <%= f.select :ptype, PROC_TYPES %>
  </div>

  <div class="col-sm-2">
	  <%= f.label :units %>
	  <%= f.text_field :unit, value: @procedure.unit || 1 %>
  </div>

  <div class="col-sm-2">
	  <%= f.label :percent %>
	  <%= f.text_field :percent, value: @procedure.percent || 0 %>
  </div>
</div>

  <!-- Row 2 -->
<div class="row">
  <div class="col-sm-8">
	  <%= f.label :description %>
	  <%= f.text_field :descr %>
  </div>
</div>

  <!-- Row 3 -->

<div class="row">
  <div class="col-sm-2">
          <%= f.label :provider_fee %>
          <%= f.text_field :cost %>
  </div>

  <div class="col-sm-2" style="display:none;">
          <%= f.label 'Specialist Fee' %>
          <%= f.text_field :spec_fee %>
  </div>

  <div class="col-sm-2" style="display:none;">
          <%= f.label 'Assistant Fee' %>
          <%= f.text_field :ass_fee %>
  </div>

  <div class="col-sm-2" style="display:none;">
          <%= f.label 'Anesth Fee' %>
          <%= f.text_field :ana_fee %>
  </div>
</div>

  <!-- Row 4 -->

<div class="row">
    <div class="col-sm-2">
          <%= f.label :'Effective Date' %>
          <%= f.date_field :eff_date %>
    </div>

    <div class="col-sm-2">
          <%= f.label :'Term Date' %>
          <%= f.date_field :term_date %>
    </div>
   
    <div class="col-sm-1">
    </div>

    <div class="col-sm-1" style="display:none;">
          <%= f.label :adm? %>
          <%= f.check_box :adm_req %>
    </div>

    <div class="col-sm-1">
          <%= f.label :'Requires Diagnosis?' %>
          <%= f.check_box :diag_req %>
    </div>

    <div class="col-sm-1">
          <%= f.label :'Requires Referral?' %>
          <%= f.check_box :ref_req %>
    </div>

    <div class="col-sm-1">
          <%= f.label :'Active procedure?' %>
          <%= f.check_box :active  %>
    </div>

</div>

  <!-- Row 5 -->

  <div style="height: 20px;"></div>
<div class="row">
    <div class="col-sm-8">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    </div>
</div>

<% end %>


