<% provide(:title, 'All procedures') %>

<table class="tbl table-hover" >
  <thead>
      <tr>
	  <th><%= sortable 'code', 'Svc Code' %></th>
	  <th><%= sortable 'ptype', :Type %></th>
	  <th class="tbl_lg"> <%= sortable 'descr', :Description %> </th>
	  <th>Provider Fee</th>
	  <th>Units</th>
	  <th>Diag required?</th>
	  <th>Ref. required?</th>
	  <th>Eff. Date</th>
	  <th><%= sortable 'active' %></th>
	  <th></th>
      </tr>
  </thead>
  <tbody>

  <%= render @procedures %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @procedures, class: "btn" %>
<%= button_to "Add Procedure", new_procedure_path, class: "btn btn-primary col-md-12", :method => "get" %>
</div>
