@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/modals";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html,body {
  height: 100%;
  padding-top: 0; 
  overflow-y: scroll;
//  font: 13px Arial, Helvetica, sans-serif;
}

// not verified !!
p {
    padding: .8em 1.0;
//    line-height: 1.5em;
    text-align: justify;
  font: 10px Arial, Helvetica, sans-serif;
}

.container {
   width:100%;
   min-height: 92%;
   height: auto !important; /* Stick footer to bottom in IE6 */
   height: 100%;
   margin: 0 auto -30px;  /* footer height */
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 15px;
 /*  vertical-align: bottom; */
}

table {
  width: 100%;
}

#header {
   padding:5px;
   height:50px;
}

#body {
   padding:1px;
   padding-bottom:1px;  
}

#footer, #pushup {
   height: 30px;
   padding-left: 15px;
}

/* navbar */
.navbar-inverse {
//    background-color: #333;
    border-color: #E7E7E7;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF;
#    background-color: #333;
}

.spacer-10 {
  height: 10px;
}
.spacer-20 {
  height: 20px;
}
.spacer-30 {
  height: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 8px;
  }
}

.hidden {
   display: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

h2 {
  font-size: 1.3em;
//  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
/*  color: $gray-light; */
}

h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

td.hlight {
  font-weight: bold;
  color: red;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: grey;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.hdr-text {
  margin-right: 10px;
  font-size: 1.8em;
  color: grey;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: red;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-right: 15px;
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    margin-right: 15px;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.bottom_buttons {
  display:flex;
  justify-content:flex-end;
  align-items:center; 
  padding-top: 15px;
  padding-bottom: 15px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 25px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 10px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 2px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

/* Patient list table */
.tbl {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.text-center {
   text-align: center;   
}

/* Table with adjustable column widths */
/* Column widths are based on these cells */
.tbl_xxs {
  width: 1%;	
}
.tbl_xs {       /* ver, sex, age */
  width: 2%;
}
.tbl_sm {       /* File# */
  width: 4%;
}
.tbl_lsm {      /* Dates */ 
  width: 6%;
}
.tbl_xmd {      /* Phones */
  width: 8%;
}
.tbl_md {      
  width: 10%;
}
.tbl_lmd {      /* full name */
  width: 15%;
}
.tbl_xlg {      
  width: 20%;
}
.tbl_lg {      /* address */
  width: 25%;
}
.tbl_llg {
  width: 30%;
}

.tbl td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tbl th {
  background: grey;
  color: white;
}
.tbl td,
.tbl th {
  text-align: left;
  padding: 0px 5px;
}

.tbl tr:nth-child(even) {
  background: lightblue;
}

.table-hover tbody tr:hover td {
    background: #5bc0de;
}

/* Pagination */

.pagination {
    font-size: 12px;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.1em 0.1em;
    margin-top: 10px;
    margin-bottom: 0px;
}

.pagination a:hover_ {
    background: #202020 none repeat scroll 0 0;
    text-shadow: 1px 1px 1px #171717;
}

.pagination a:active {
    text-shadow: none;
}

.pagination .current {
    background: #202020 none repeat scroll 0 0;
    color: white;
    text-shadow: 1px 1px 1px #171717;
}

.pagination .disabled {
    color: #C0C0C0;
}

#doc_in {
  position: absolute;
  top: 100px;
  left: 40px;
  z-index:300;

} 

.alert {
  margin-bottom: 1px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
}

.alert-success{
    color: green;
}
.alert-danger{
  color: red;
  font-size: 1em;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
}

.alert .glyphicon{
    display:table-cell;
}

.alert div,
.alert span{
    padding-left: 5px;
    display:table-cell;
}

.hdr-link {
 color: white;
}

/* used for sorting headers in diagnosis - disabled  */
table.pretty {
  border-collapse: collapse;
}

.pretty td, .pretty th {
  padding: 4px 10px;
  border: solid 1px #AAA;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}

.patient-notes-panel-body {
    background: #FFCCFF;
    max-height: 230px;
    overflow-y: scroll;
}

.visit-notes-panel-body {
    background: #FAFAD2;
    max-height: 230px;
    overflow-y: scroll;
}

.news-panel-body {
    background: #E6E6FA;
    max-height: 500px;
    overflow-y: scroll;
}

// Notes scrollable PRE panels
.pre-scrollable {
    max-height: 140px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.pre-scrollable-md {
    max-height: 180px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.pre-scrollable-lg {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.pre-scrollable-xlg {
    max-height: 700px;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-bottom: 35px;
}

.notes {
  background-color: transparent; 
  overflow:auto; 
  white-space: pre-wrap; 
  border: 0;
  padding: 10px;
}

#modal-window {
  position: fixed;
  top: 3%;
  left: 5%;
//  transform: translate(-50%, -50%);
}

.turbolinks-progress-bar {
   height: 3px;
   background-color: blue;
}

/* Make Select2 boxes match Bootstrap3 heights: */
.select2-selection__rendered {
  line-height: 24px !important;
}

.select2-selection {
  height: 24px !important;
}

.select2-selection__arrow {
    height: 22px !important;
}

// Safari modals - doesnt really work, but maybe one day..
.clickable {
cursor: pointer;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
//  background-color: ;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.4rem;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-text {
  margin-left: 1.5rem;
}

card > hr {
  margin-right: 0;
  margin-left: 0;
}

