<%= form_for @report do |f| %>
		
<%= render 'shared/error_messages', object: f.object %>
<%= render 'shared/modal', size: 'lg' %>

<%
        doc_id = current_doctor.id if current_doctor
        disabled = []
        disabled = [DAILY_REPORT..DRANGE_REPORT] if @report.rtype = PC_REPORT   # Paid Claims
%>
  
<!-- Row 1 -->
<div class="row">
<div class="col-sm-2 col-sm-offset-4" >
  <%= f.label "Select Doctor" %>
  <%= f.collection_select :doc_id, get_active_doctors, :id, :lname,  selected: @report.doc_id || doc_id %>
</div >
    
<div class="col-sm-2" >
  <%= f.label "Report Type" %>
  <%= f.select :rtype, REPORT_TYPES, prompt: 'Select Type', selected: SC_REPORT %>
</div>
</div>

<!-- Row 2 -->
<div class="row">
<div class="col-sm-2 col-sm-offset-4" >
  <%= f.label "Timeframe" %>
  <%= f.select :timeframe, REPORT_TFRAMES, prompt: 'Select Timeframe', selected: @report.timeframe || DAILY_REPORT, disabled: disabled %>
</div>
</div>

<!-- Row 3 -->
<div class="row">
<div class="col-sm-2 col-sm-offset-4" id="sdate" >
  <%= f.label "Select Date" %>
  <%= f.date_field :sdate, class: 'datepicker', value: Time.now.strftime('%Y-%m-%d') %>
</div>
</div>

<!-- Row 3 -->
<div class="row">
<div class="col-sm-2 col-sm-offset-4" id="edate" style="display:none;">
  <%= f.label "To" %>
  <%= f.date_field :edate, class: 'datepicker' %>
</div>
</div>

<!-- Row 2 -->
<div class="row">
<div class="col-sm-2 col-sm-offset-4" id="year" style="display:none;">
  <%= f.label "Year" %>
  <%= select_year Time.now, start_year: Time.now.year-10, end_year: Time.now.year %>
</div>
</div>

<!-- Row 3 -->
<div class="row">
<div class="col-sm-2 col-sm-offset-4" id="month" style="display:none;">
  <%= f.label "Month" %>
  <%= select_month Time.now  %>
</div>
</div>

<!-- Row 4 -->


<% remote = device_is_desktop? %>

<div class="row">
  <div class='spacer-20'></div>
  <div class="col-sm-4 col-sm-offset-4">
  <%= f.submit yield(:button_text),  remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window', class: "btn btn-primary clickable", method: 'get' %>
  </div>
</div>

<% end %>

<script>
$(document).ready(function () {

    $('#new_report select[name="report[timeframe]"]').change(function () {
	switch ( $('#new_report select[name="report[timeframe]"]').val() ) {
		case "1":              	// Daily
			$('#edate').hide();
			$('#sdate').show();
			$('#year').hide();
			$('#month').hide();
		  	break;
		case "2":		// Monthly
			$('#edate').hide();
			$('#sdate').hide();
			$('#year').show();
			$('#month').show();
			break;
		case "3":		// Yearly
			$('#sdate').hide();
    			$('#edate').hide();
			$('#year').show();
			$('#month').hide();
			break;
		case "4":		// Date Range
			$('#sdate').show();
		  	$('#edate').show();
			$('#year').hide();
			$('#month').hide();
			break;
		case "5":		// All Time (defunct)
    			$('#sdate').hide();
    			$('#edate').hide();
			$('#year').hide();
			$('#month').hide();
			break;
		case "6":		// Billing Cycle
    			$('#sdate').hide();
    			$('#edate').hide();
			$('#year').hide();
			$('#month').show();
			break;

		}
			
    });
});
	
var rtype = document.getElementById("report_rtype");
//  alert(rtype.value);
$(rtype).change(function () {
  var rt = document.getElementById('report_timeframe');
  var tframe = document.getElementById('report_timeframe').getElementsByTagName("option");
  if (rtype.value == 'PC') {
    	$('#sdate').hide();
    	$('#edate').hide();
	$('#year').hide();
	$('#month').show();
	$(rt).prop('selectedIndex',4);  
        tframe[0].disabled = true;
        tframe[1].disabled = true;
        tframe[2].disabled = true;
        tframe[3].disabled = true;
  } else {
	$('#edate').hide();
	$('#sdate').show();
	$('#year').hide();
	$('#month').hide();
	$(rt).prop('selectedIndex',0);  
        tframe[0].disabled = false;
        tframe[1].disabled = false;
        tframe[2].disabled = false;
        tframe[3].disabled = false;
  }  
});

</script>
