<% provide(:title, 'All Reports') %>

<%= render 'shared/modal' %>

<table class="tbl table-hover">  <!--table table-hover table-condensed" >  -->
  <thead>
      <tr>
	  <th class='tbl_sm'><%= sortable 'id', '#' %></th>
	  <th><%= sortable 'doc_id', 'Doctor' %></th>
          <th class='tbl_lmd'>Report</th>
          <th class='tbl_md'>Download</th>
	  <th class='tbl_md'>Size(M) </th>
	  <th><%= sortable 'rtype', 'Type' %></th>
          <th>Timeframe</th>
	  <th cless='tbl_llg'><%= sortable 'sdate', 'Date Range' %></th>
	  <th><%= sortable 'created_at', 'Created' %></th>
	   <% if current_user.admin?  %>
          <th class='tbl_sm'></th>
	  <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @reports %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @reports, class: "btn" %> 
<%= button_to "Create New Report", new_report_path, class: "btn btn-primary col-md-12 ", method: 'get'  %>
</div>
