<footer>
  <small>
    <img src="/images/small_logo.png" width=35></img>
    The <a href="<%= project_url %>"><%= full_title %></a> project - 
     <a href="project_url">Stoney Creek Walk In Clinic</a> &copy; 2018 - All rights reserved
  </small>
  <nav>
    <ul>
      <li><small><%= link_to "About",   about_path %></small></li>
      <li><small><%= link_to "Help", help_path %></small></li>
      <li><small><%= link_to "Contact", contact_path %></small></li>
      <li><small><%= link_to "News", news_path %></small></li>
      <% if logged_in? %>
      <li><small><%= link_to "Logout", logout_path, method: :delete %></small></li>
      <% end %>
    </ul>
  </nav>
</footer>
